<div class="toplevel-actions">
    {{#drop-zone formId="upload-form" action="/api/documents" method="POST" formClassName="pull-right" paramName="document[original_file]"}}
        <span type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-upload"></span> Upload a document</span>
    {{/drop-zone}}
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Document</th>
            <th class="hidden-sm hidden-xs">Date created</th>
            <th class="text-center">Processed?</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    {{#each itemController="document"}}
    <tr>
        <td>{{filename}}</td>
        <td class="hidden-sm hidden-xs">{{createdAt}}</td>
        <td class="text-center">
            <span {{bind-attr class=":glyphicon processed:text-success:text-danger processed:glyphicon-ok-sign:glyphicon-minus-sign"}}></span>
        </td>
        <td style="width: 30%" class="text-center">
            <div class="btn-group text-left">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a {{action 'downloadPdf'}} href="#">Original</a></li>
                    <li><a {{action 'downloadTxt'}} href="#">Text</a></li>
                    <li><a {{action 'downloadHtml'}} href="#">HTML</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
